<html>
    <head>
        <title>Gravitational Orbit Simulator</title> <!--displays the title on the tab at the top of your screen-->
    </head>
    <body>
        <h1>Orbit Simulator</h1> <!--first thing actually seen on the website-->
        <canvas id="myCanvas" width="500" height="500" style="border:1px solid #000000; background-color: darkgray;"></canvas> <!--makes the square shape where the simulation will be displayed-->
            <script>
            const canvas = document.getElementById('myCanvas')
            const ctx = canvas.getContext('2d')

            ctx.beginPath();
            ctx.arc(x,y,radius, 0,2*Math.PI)
            </script>
    </body>
</html>
